body {
 margin: unset;
}

.gantt-container {
 height: calc(100vh - 250px);
 width: 100%;
 position: relative;
}

#gantt {
 width: 100%;
 height: 100%;
 position: absolute;
}

.baseline {
 position: absolute;
 border-radius: 2px;
 z-index: 0;
 opacity: 0.3;
 height: 12px;
 background: #6dadf0;
 border: 1px solid #4a6bf8;
}
